* {
     /* background-color: #fff !important;  */
    color: #000 !important 
}

h1 {
    color: #000 !important;
    font-size: 70px !important;

}

a.button-dark {
    background-color: #347 !important;
    color: #fff !important;
}


a svg path {
    fill: #000
}

input.form-input {
background-color: #fff
}

h2 {
    color:#000 !important;

}

a.button-primary {
    Background-color: #999 !important;
}

h3.mt-0 {
    color: #347 !important;
    font-weight:bolder !important;
}


div.cta-inner {
    background-color: #347 !important;
}

h3.m-0 {
    background-color: #347 !important;
    font-weight: 900 !important;
    font-size: 40px !important
}

h4.mt-0 {
    color: #000 !important;
}

p.m-0.text-sm {
    border: 3px solid #000;
    border-radius: 36px;
    padding: 10px;
}

p.m-0.mb-32.reveal-from-bottom.is-revealed {
    font-size: 22px;
}

div.text-xxs {
    font-size: 15px;
}

@keyframes custom{
    20% {
        color:#000;
        transform:rotate(360deg);
    }
    100% {
        color: #999;
        transform:rotate(360deg);
    }
}

div.tiles-item-inner {
    animation: 10s custom infinite !important
}

p.text-sm.mb-0 {
    font-weight: 800!important;
    transform:translate(22px);
}

span.testimonial-item-name.text-color-high {
    font-weight: 800 !important;}



